$spacing: 15px;

.vorulisti-content{
    .card{
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 330px;
        height: 360px;
        justify-content: space-between;
        margin: $spacing;
        padding: $spacing;
        grid-column: span 12;
        .btn-product{
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-color: rgba(111, 78, 55, 1);
            border-radius: 5px;
        }
    }
}

@media (min-width: 660px) {
    .vorulisti-content .card{
        grid-column: span 6;
    }
}

@media (min-width: 1000px) {
    .vorulisti-content .card{
        grid-column: span 4;
    }
}

@media (min-width: 1350px) {
    .vorulisti-content .card{
        grid-column: span 3;
    }
}