
.content-new-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.content-new-cta .inner-container{
    position: relative;
    display: flex;
    align-items: center;
    margin-top: -230px;
    margin-bottom: 80px;
}

.content-new-cta .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
    margin-top: -40px;
}

.content-new-cta .inner-container2{
    position: relative;
    display: flex;
    align-items: center;
    margin-top: -20px;
}

.content-new-cta .text-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
    margin-top: -110px;
}


.content-new-cta .main-heading {
    width: 448px;
    height: 48px;
    font-family: Lato, sans-serif;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 20px; 
}


.content-new-cta .description {
    width: 448px;
    height: 128px;
    font-family: Lato, sans-serif;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px; 
}


.content-new-cta .btn {
    display: flex;
    align-items: center;         
    justify-content: center;
    padding: 10px 15px;
    gap: 10px;
    width: 170px;
    height: 24px;
    background: #6F4E37;
    border: 1px solid #3C2A1E;
    border-radius: 5px;
    margin-top: 30px;
}

/* Button text */
.content-new-cta .btn-text {
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFF;
}

.content-new-cta .photo {
    width: 500px;
    height: 300px;
    background: url("/images/voo-qqq-RSYBi_1fhfM-unsplash\ 1.jpg");
    background-repeat: no-repeat;  
    background-size: contain;
}

.content-new-cta .photo1 {
    width: 500px;
    height: 300px;
    background: url("/images/adrian-sulyok-sczNLg6rrhQ-unsplash\ 1.jpg");
    background-repeat: no-repeat;  
    background-size: contain;
    margin-bottom: 80px;
}
