.featured-products {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start;      
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    padding: 10px;
    background: url("/images/Beigebackground.jpg");
    background-repeat: no-repeat;  
    background-size: cover;  
    background-position: center; 
    min-height: calc(668px + 30px); 
}

.product-header {
    padding: 10px 0;  
    font-size: 1.5em;  
    text-align: left;
    margin-left: 200px;
    margin-top: 50px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 15px;
    gap: 20px;
    width: 100%;
}

.product {
    flex: 1 0 22%;
    margin: 10px;
    text-align: left;
    justify-content: space-between;
    padding: 15px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-sizing: border-box;
}

.product img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.tag-wrapper {
    display: inline-block;
}

.tag {
    display: inline-block;
    border-radius: 5px; 
    background-color: #E1CEC2;  
    padding: 3px 5px;           
}

.btn-product {
    display: block;
    border: 1px solid black;
    padding: 5px 0; 
    text-align: center;
    border-radius: 10px;
}



