.featured-products {
    display: flex;
    justify-content: center;  // Horizontally centers content
    align-items: center;      // Vertically centers content
    width: 100%;
    height: 674px;
    flex-wrap: wrap;
    padding: 20px;
    background: url("/images/Beigebackground.jpg");
    background-repeat: no-repeat;  
    background-size: 1640px 520px;  // Adjusted to cover to ensure the background fills the container
    background-position: center; // Ensures the background image is centered
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 15px;
    gap: 30px;
}

.product {
    flex: 1 0 21%;
    margin: 10px;
    text-align: left;
    justify-content: space-between;
    padding: 15px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-sizing: border-box;
}

.product img {
    max-width: 100%;
    height: auto;
}


