:root {
  --coffee: rgb(111 78 55 / 100%);
  --black-coffee: rgb(60 42 30 / 100%);
  --light: rgb(254 254 254 / 100%);
  --coffee-with-milk: rgb(225 206 194 / 100%);
  --body-font-family: "Lato-Regular", helvetica;
  --body-font-weight: 400;
  --body-font-size: 16px;
  --body-letter-spacing: 0;
  --body-line-height: 24px;
  --body-font-style: normal;
  --main-heading-font-family: "Lato-Regular", helvetica;
  --main-heading-font-weight: 400;
  --main-heading-font-size: 36px;
  --main-heading-letter-spacing: 0;
  --main-heading-line-height: 48px;
  --main-heading-font-style: normal;
  --secondary-heading-font-family: "Lato-Regular", helvetica;
  --secondary-heading-font-weight: 400;
  --secondary-heading-font-size: 32px;
  --secondary-heading-letter-spacing: 0;
  --secondary-heading-line-height: 48px;
  --secondary-heading-font-style: normal;
  --large-body-font-family: "Lato-Regular", helvetica;
  --large-body-font-weight: 400;
  --large-body-font-size: 20px;
  --large-body-letter-spacing: 0;
  --large-body-line-height: 32px;
  --large-body-font-style: normal;
  --card-heading-font-family: "Lato-Regular", helvetica;
  --card-heading-font-weight: 400;
  --card-heading-font-size: 22px;
  --card-heading-letter-spacing: 0;
  --card-heading-line-height: 32px;
  --card-heading-font-style: normal;
  --small-font-family: "Lato-Regular", helvetica;
  --small-font-weight: 400;
  --small-font-size: 14px;
  --small-letter-spacing: 0;
  --small-line-height: 16px;
  --small-font-style: normal;
}
