@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Lora:700");
header {
  position: relative;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  align-items: center;
  z-index: 10;
}
header .logo-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
header .logo-container .logo {
  width: 40px;
  height: 40px;
  background-image: url("/images/Logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 10px;
}
header .logo-container .logo-text {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
}
header .search {
  position: relative;
  width: 450px;
  margin-left: 200px;
}
header .search input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  background: #FEFEFE;
  border: 1px solid #000000;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 40px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #3C2A1E;
  opacity: 0.6;
}
header .search .search-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("/images/Search.svg");
}
header .categories {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 130px;
}
header .categories .category {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}
header .cart {
  display: flex;
  align-items: center;
  gap: 40px;
}
header .cart .cart-icon {
  background-image: url("/images/Cart icon.svg");
  width: 30px;
  height: 30px;
  margin-right: 20px;
  position: relative;
}
header .cart .cart-count {
  background: #6F4E37;
  padding: 3px 7px;
  border-radius: 50%;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FEFEFE;
  position: absolute;
  bottom: 5px;
  left: 1460px;
  z-index: 1;
}
header .hamburger {
  background-image: url("/images/Vector.svg");
}

body {
  font-family: "Lato", sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.promo {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: url("/images/Background.jpg") no-repeat center center/cover; /* This will cover the entire container */
  background-color: white;
}

/* Protection */
.protection {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
}

.promo h2 {
  font-size: 8rem;
  text-align: center;
  margin-top: 150px;
}

.promo p {
  font-size: 2.5rem;
  text-align: center;
}

.promo h2, .promo p {
  z-index: 3;
  position: relative;
}

/* Main Container */
.content-new-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

.content-new-cta .inner-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: -150px;
}

.content-new-cta .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 40px;
}

/* Main heading */
.content-new-cta .main-heading {
  width: 448px;
  height: 48px;
  font-family: "Lato", sans-serif;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 20px;
}

/* Description */
.content-new-cta .description {
  width: 448px;
  height: 128px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 20px;
}

/* Button */
.content-new-cta .btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 15px;
  gap: 10px;
  width: 177px;
  height: 44px;
  background: #6F4E37;
  border: 1px solid #3C2A1E;
  border-radius: 5px;
}

/* Button text */
.content-new-cta .btn-text {
  width: 147px;
  height: 24px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}

.content-new-cta .photo {
  width: 622px;
  height: 415px;
  background: url("/images/voo-qqq-RSYBi_1fhfM-unsplash 1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.content-new-cta .photo1 {
  width: 622px;
  height: 415px;
  background: url("/images/adrian-sulyok-sczNLg6rrhQ-unsplash 1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.featured-products {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  padding: 10px;
  background: url("/images/Beigebackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 698px;
}

.product-header {
  padding: 10px 0;
  font-size: 1.5em;
  text-align: left;
  margin-left: 200px;
  margin-top: 50px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 15px;
  gap: 20px;
  width: 100%;
}

.product {
  flex: 1 0 22%;
  margin: 10px;
  text-align: left;
  justify-content: space-between;
  padding: 15px;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-sizing: border-box;
}

.product img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.tag-wrapper {
  display: inline-block;
}

.tag {
  display: inline-block;
  border-radius: 5px;
  background-color: #E1CEC2;
  padding: 3px 5px;
}

.btn-product {
  display: block;
  border: 1px solid black;
  padding: 5px 0;
  text-align: center;
  border-radius: 10px;
}

.featured-products2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  padding: 10px;
  background: url("/images/Beigebackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 698px;
}

.product-header2 {
  padding: 10px 0;
  font-size: 1.5em;
  text-align: left;
  margin-left: 200px;
  margin-top: 50px;
}

.products2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 15px;
  gap: 20px;
  width: 100%;
}

.product2 {
  flex: 1 0 22%;
  margin: 10px;
  text-align: left;
  justify-content: space-between;
  padding: 15px;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-sizing: border-box;
}

.product2 img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

header .mobile-controls {
  display: none;
  align-items: center;
  gap: 20px;
}

@media (max-width: 501px) {
  header .search,
  header .categories,
  header .cart {
    display: none;
  }
  header .mobile-controls {
    display: flex;
    cursor: pointer;
  }
  header .hamburger {
    width: 24px;
    height: 20px;
    fill: currentColor;
  }
  header .cart-container .cart-icon {
    background-image: url("/images/Cart icon.svg");
    width: 30px;
    height: 30px;
    position: relative;
    margin-right: 20px;
  }
  header .cart-container .cart-count {
    background: #6F4E37;
    padding: 3px 7px;
    border-radius: 50%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FEFEFE;
    position: absolute;
    top: 30px;
    right: 60px;
    z-index: 1;
  }
  section.content .inner-container {
    flex-direction: column;
  }
  section.content .photo,
  section.content .photo1 {
    margin: 10px 0;
  }
  .products, .products2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .product, .product2 {
    flex-basis: 100%;
    margin: 10px 0;
  }
  section.promo h2 {
    font-size: 2rem;
    text-align: center;
  }
  section.content .description {
    text-align: center;
    padding: 0 10px;
  }
}
footer {
  background-color: rgb(50, 36, 26);
  color: white;
  display: grid;
  padding: 4px;
  grid-template-areas: "1" "2" "3" "4";
  gap: 5px;
}
footer .footer-section {
  grid-column: span 1;
  margin-bottom: 14px;
  margin-top: 28px;
  margin-right: 20px;
}
footer .footer-bottom {
  display: flex;
  justify-content: center;
  border-top: 2px solid rgb(85, 60, 42);
  margin: auto;
  width: 100%;
  max-width: 1000px;
}
footer .footer-bottom p {
  padding: 10px;
}
footer h2 {
  border-bottom: 2px solid rgb(183, 165, 153);
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: 1px;
  font-weight: normal;
}
footer p {
  font-size: 14px;
  margin: 1px;
  padding: 1px;
}

@media (min-width: 540px) {
  footer {
    grid-template-areas: "1 2 3" "4 4 4";
  }
  .footer-bottom {
    grid-column: span 3;
  }
}
@font-face {
  font-family: "Lora";
  font-style: normal;
  font-display: swap;
  src: url(./fonts/Lora-VariableFont_wght.ttf) format("woff");
}
.vorulisti-content {
  background-color: rgb(225, 206, 194);
}
.vorulisti-content .products {
  padding: 0;
  padding-top: 25px;
}

.filters {
  margin-bottom: 28px;
  margin-left: 10px;
}
.filters h3 {
  margin: 0;
  font-family: Lato;
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}
.filters h1 {
  margin-bottom: 40px;
  font-family: Lato;
  font-size: 60px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: left;
}
.filters .filter-buttons button {
  background-color: rgb(225, 206, 194);
  border: none;
  border-radius: 5px;
  height: 40px;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  height: 100%;
}

/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

a {
  text-decoration: none;
}

.varadesktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.varadesktop .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 2068px;
  position: relative;
}

.varadesktop .upplvara {
  display: flex;
}

.varadesktop .page-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  position: absolute;
  top: 106px;
  left: 0;
  overflow: hidden;
}

.varadesktop .product-content {
  display: flex;
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 33.75%;
}

.varadesktop .text-wrapper {
  position: absolute;
  width: 686px;
  top: -1px;
  left: 734px;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 60px;
  letter-spacing: 0;
  line-height: 80px;
  white-space: nowrap;
}

.varadesktop .alexandre-debieve {
  position: absolute;
  width: 690px;
  height: 463px;
  top: 0;
  left: 15px;
  object-fit: cover;
}

.varadesktop .tags {
  width: 300px;
  height: 39px;
  position: absolute;
  top: 91px;
  left: 734px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.varadesktop .new {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 5px;
  position: relative;
  flex: 0 0 auto;
  background-color: #e1cec2;
  border-radius: 5px;
  overflow: hidden;
}

.varadesktop .text-wrapper-2 {
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: #000000;
  letter-spacing: var(--body-letter-spacing);
  white-space: nowrap;
  font-style: var(--body-font-style);
}

.varadesktop .p {
  position: absolute;
  width: 685px;
  top: 152px;
  left: 735px;
  font-family: var(--large-body-font-family);
  font-weight: var(--large-body-font-weight);
  color: #000000;
  font-size: var(--large-body-font-size);
  letter-spacing: var(--large-body-letter-spacing);
  line-height: var(--large-body-line-height);
  font-style: var(--large-body-font-style);
}

.varadesktop .price {
  position: absolute;
  width: 330px;
  height: 39px;
  top: 399px;
  left: 735px;
}

.buttonadd {
  height: fit-content;
  width: 399px;
  background-color: #ffffff;
  border: 2px;
  border-color: #e1cec2;
}

.kaupadot {
  display: flex;
  position: relative;
  padding-left: 70%;
  padding-top: 399px;
}

.varadesktop .text-wrapper-3 {
  position: absolute;
  width: 289px;
  top: -1px;
  left: 3px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 32px;
}

.button {
  display: flex;
  width: 330px;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding: 10px 15px;
  position: relative;
  background-color: #fefefe;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid;
  border-color: #6f4e37;
  all: unset;
  box-sizing: border-box;
}

.button .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Lato-Bold", Helvetica;
  font-weight: 700;
  color: #3c2a1e;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.varadesktop .product-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 60px 255px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.varadesktop .eiginleikar {
  position: relative;
  width: 100%;
  margin-top: -1px;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 36px;
}

.varadesktop .span {
  font-weight: 700;
  line-height: 48px;
}

.varadesktop .text-wrapper-5 {
  padding-top: 3%;
  font-size: 32px;
  line-height: 48px;
}

.varadesktop .text-wrapper-6 {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
}

.varadesktop .text-wrapper-7 {
  display: flex;
  padding-bottom: 3%;
  font-size: var(--large-body-font-size);
  line-height: var(--large-body-line-height);
  font-family: var(--large-body-font-family);
  font-style: var(--large-body-font-style);
  font-weight: var(--large-body-font-weight);
  letter-spacing: var(--large-body-letter-spacing);
}

.varadesktop .related-products {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 24%;
  overflow: hidden;
  background-image: url(https://c.animaapp.com/tuxLGKdc/img/background.svg);
}

.varadesktop .products-content {
  display: inline-flex;
  flex-direction: column;
  height: 442px;
  align-items: center;
  justify-content: center;
  padding: 40px 0px 60px;
  position: absolute;
  top: 73px;
  left: 0;
}

.varadesktop .products {
  display: inline-flex;
  align-items: flex-start;
  gap: 30px;
  padding: 0px 15px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -9px;
  margin-bottom: -9px;
}

.varadesktop .product-card {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 360px;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  position: relative;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
}

.varadesktop .product-image {
  display: flex;
  flex-direction: column;
  height: 160px;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding: 35px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.varadesktop .img {
  position: relative;
  width: 300px;
  height: 160px;
  margin-top: -35px;
  margin-bottom: -35px;
  object-fit: cover;
}

.varadesktop .title {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 32px;
}

.varadesktop .text-wrapper-8 {
  position: absolute;
  width: 297px;
  top: -1px;
  left: 3px;
  font-family: var(--card-heading-font-family);
  font-weight: var(--card-heading-font-weight);
  color: #000000;
  font-size: var(--card-heading-font-size);
  letter-spacing: var(--card-heading-letter-spacing);
  line-height: var(--card-heading-line-height);
  white-space: nowrap;
  font-style: var(--card-heading-font-style);
}

.varadesktop .tags-2 {
  height: 26px;
  position: relative;
  align-self: stretch;
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.varadesktop .text-wrapper-9 {
  font-size: var(--small-font-size);
  line-height: var(--small-line-height);
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--small-font-family);
  font-weight: var(--small-font-weight);
  color: #000000;
  letter-spacing: var(--small-letter-spacing);
  white-space: nowrap;
  font-style: var(--small-font-style);
}

.varadesktop .div-wrapper {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 24px;
}

.varadesktop .text-wrapper-10 {
  position: absolute;
  width: 289px;
  top: -1px;
  left: 3px;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: #000000;
  font-size: var(--body-font-size);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  white-space: nowrap;
  font-style: var(--body-font-style);
}

.varadesktop .button-2 {
  display: block;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding: 10px 15px;
  background-color: #fefefe;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid;
  border-color: #6f4e37;
  all: unset;
  box-sizing: border-box;
}

.varadesktop .text-wrapper-11 {
  position: absolute;
  width: 776px;
  top: 29px;
  left: 15px;
  font-family: var(--secondary-heading-font-family);
  font-weight: var(--secondary-heading-font-weight);
  color: #000000;
  font-size: var(--secondary-heading-font-size);
  letter-spacing: var(--secondary-heading-letter-spacing);
  line-height: var(--secondary-heading-line-height);
  white-space: nowrap;
  font-style: var(--secondary-heading-font-style);
}

.varadesktop .footer {
  position: relative;
  width: 1441px;
  height: 270px;
  margin-right: -1px;
  background-color: #3c2a1e;
}

.varadesktop .opening-hours {
  position: absolute;
  width: 448px;
  height: 154px;
  top: 53px;
  left: 17px;
  overflow: hidden;
}

.varadesktop .line {
  position: absolute;
  width: 448px;
  height: 2px;
  top: 40px;
  left: 0;
}

.varadesktop .text-wrapper-12 {
  position: absolute;
  width: 233px;
  top: -1px;
  left: 0;
  font-family: var(--secondary-heading-font-family);
  font-weight: var(--secondary-heading-font-weight);
  color: #fefefe;
  font-size: var(--secondary-heading-font-size);
  letter-spacing: var(--secondary-heading-letter-spacing);
  line-height: var(--secondary-heading-line-height);
  white-space: nowrap;
  font-style: var(--secondary-heading-font-style);
}

.varadesktop .text {
  position: absolute;
  width: 448px;
  top: 51px;
  left: 0;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: #ffffff;
  font-size: var(--body-font-size);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  font-style: var(--body-font-style);
}

.varadesktop .contact {
  position: absolute;
  width: 448px;
  height: 154px;
  top: 53px;
  left: 496px;
  overflow: hidden;
}

.varadesktop .text-wrapper-13 {
  position: absolute;
  width: 424px;
  top: -1px;
  left: 0;
  font-family: var(--secondary-heading-font-family);
  font-weight: var(--secondary-heading-font-weight);
  color: #fefefe;
  font-size: var(--secondary-heading-font-size);
  letter-spacing: var(--secondary-heading-letter-spacing);
  line-height: var(--secondary-heading-line-height);
  white-space: nowrap;
  font-style: var(--secondary-heading-font-style);
}

.varadesktop .other {
  position: absolute;
  width: 448px;
  height: 154px;
  top: 53px;
  left: 975px;
  overflow: hidden;
}

.varadesktop .copyright {
  position: absolute;
  width: 930px;
  height: 38px;
  top: 232px;
  left: 255px;
}

.varadesktop .overlap-group {
  position: relative;
  height: 37px;
}

.varadesktop .line-2 {
  position: absolute;
  width: 930px;
  height: 1px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.varadesktop .text-wrapper-14 {
  position: absolute;
  width: 930px;
  height: 37px;
  top: 0;
  left: 0;
  font-family: var(--small-font-family);
  font-weight: var(--small-font-weight);
  color: #ffffff;
  font-size: var(--small-font-size);
  text-align: center;
  letter-spacing: var(--small-letter-spacing);
  line-height: var(--small-line-height);
  font-style: var(--small-font-style);
}

.varadesktop .navigation {
  position: absolute;
  width: 1440px;
  height: 60px;
  top: 0;
  left: 0;
}

.varadesktop .logo-container {
  position: absolute;
  width: 389px;
  height: 60px;
  top: 0;
  left: 0;
}

.varadesktop .logo {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 15px;
  left: 15px;
}

.varadesktop .text-wrapper-15 {
  position: absolute;
  width: 240px;
  height: 60px;
  top: -1px;
  left: 55px;
  font-family: "Lora", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 40px;
}

.varadesktop .search {
  position: absolute;
  width: 450px;
  height: 60px;
  top: 0;
  left: 495px;
}

.varadesktop .overlap-group-2 {
  position: relative;
  height: 40px;
  top: 10px;
  background-color: #fefefe;
  border-radius: 5px;
  border: 1px solid;
  border-color: #000000;
}

.varadesktop .vector {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 9px;
  left: 419px;
}

.varadesktop .text-wrapper-16 {
  position: absolute;
  width: 328px;
  height: 25px;
  top: 5px;
  left: 5px;
  opacity: 0.6;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: var(--black-coffee);
  font-size: var(--body-font-size);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  white-space: nowrap;
  font-style: var(--body-font-style);
}

.varadesktop .cart {
  width: 60px;
  height: 60px;
  left: 1380px;
  position: absolute;
  top: 0;
}

.varadesktop .overlap {
  width: 37px;
  top: 15px;
  left: 8px;
  position: relative;
  height: 37px;
}

.varadesktop .cart-icon {
  width: 30px;
  height: 30px;
  left: 7px;
  position: absolute;
  top: 0;
}

.varadesktop .cart-count {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 17px;
  left: 0;
  background-color: #6f4e37;
  border-radius: 10px;
}

.varadesktop .text-wrapper-17 {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 16px;
  left: 0;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: #fefefe;
  font-size: var(--body-font-size);
  text-align: center;
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  white-space: nowrap;
  font-style: var(--body-font-style);
}

.varadesktop .categories {
  display: flex;
  width: 330px;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 975px;
}

.varadesktop .text-wrapper-18 {
  position: relative;
  width: fit-content;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: #000000;
  font-size: var(--body-font-size);
  text-align: center;
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  white-space: nowrap;
  font-style: var(--body-font-style);
}

:root {
  --coffee: rgba(111, 78, 55, 1);
  --black-coffee: rgba(60, 42, 30, 1);
  --light: rgba(254, 254, 254, 1);
  --coffee-with-milk: rgba(225, 206, 194, 1);
  --body-font-family: "Lato-Regular", Helvetica;
  --body-font-weight: 400;
  --body-font-size: 16px;
  --body-letter-spacing: 0px;
  --body-line-height: 24px;
  --body-font-style: normal;
  --main-heading-font-family: "Lato-Regular", Helvetica;
  --main-heading-font-weight: 400;
  --main-heading-font-size: 36px;
  --main-heading-letter-spacing: 0px;
  --main-heading-line-height: 48px;
  --main-heading-font-style: normal;
  --secondary-heading-font-family: "Lato-Regular", Helvetica;
  --secondary-heading-font-weight: 400;
  --secondary-heading-font-size: 32px;
  --secondary-heading-letter-spacing: 0px;
  --secondary-heading-line-height: 48px;
  --secondary-heading-font-style: normal;
  --large-body-font-family: "Lato-Regular", Helvetica;
  --large-body-font-weight: 400;
  --large-body-font-size: 20px;
  --large-body-letter-spacing: 0px;
  --large-body-line-height: 32px;
  --large-body-font-style: normal;
  --card-heading-font-family: "Lato-Regular", Helvetica;
  --card-heading-font-weight: 400;
  --card-heading-font-size: 22px;
  --card-heading-letter-spacing: 0px;
  --card-heading-line-height: 32px;
  --card-heading-font-style: normal;
  --small-font-family: "Lato-Regular", Helvetica;
  --small-font-weight: 400;
  --small-font-size: 14px;
  --small-letter-spacing: 0px;
  --small-line-height: 16px;
  --small-font-style: normal;
}

/*# sourceMappingURL=styles.css.map */
